:root{
    --green: #1ec6b6;
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --trans: all 0.3s ease-in-out;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 1rem 0;
    z-index: 999;
}
.navbar .container{
            justify-content: space-between;
}
.site-brand{
    color: rgb(4, 192, 4);
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 0.95;
}
.site-brand span{
    font-weight: 300;
}


.nav-link{
    color: #fff;
    font-size: 1.5rem;
}
.nav-link:hover{
    opacity: 0.5;
}

header{
    min-height: 100vh;
    padding-top: 7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(header-bg.jpg) center;
            flex-direction: column;
    color: #fff;
    text-align: center;
}
.header-title h1{
    font-size: 2.8rem;
    letter-spacing: 2px;
}
.header-form{
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 0.2rem;
}
.header-form form{
            flex-direction: column;
    margin-top: 1.8rem;
}
.header-form form .form-control{
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}
.header-form input[type = "date"]{
    text-transform: uppercase;
}
.header-form input:not([type = "submit"])::placeholder{
    color: #fff;
}
::-webkit-calendar-picker-indicator{
    -webkit-filter: invert(1);
            filter: invert(1);
}
.header-form .btn{
    margin-top: 0.8rem;
}


.featured-item{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.featured-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.featured-item-content{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    width: 100%;
    padding: 1rem;
    transform: translateY(62%);
}
.featured-item-content span{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}
.featured-item-content .text{
    color: #fff;
}
.featured-item:hover .featured-item-content{
            transform: translateY(0);
}


#services{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(services-bg.jpg) center;
}
#services *{
    color: #fff;
}
.services-item{
    text-align: center;
    padding: 2rem 0.5rem;
    margin: 2rem 0;
}
.services-icon{
    font-size: 3.2rem;
}
.services-item h3{
    margin: 1rem 0;
    font-size: 1.6rem;
}
.services-item .btn{
    margin-top: 1.6rem;
    display: inline-block;
}


#testimonials{
    background-color: rgb(217, 216, 216);
}
.test-item{
    border: 2px solid ;
    padding: 2rem 1rem;
    position: relative;
    background-color: #fff;
    border-radius: 0.2rem;
    margin: 2rem 0 14rem 0;
}
.test-item::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
            transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
}
.test-item-info{
    position: absolute;
    top: 110%;
    left: 50%;
 transform: translateX(-50%);
    text-align: center;
}
.test-item-info img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 1rem;
}
.test-item-info h3{
    font-size: 1rem;
}



footer{
    background-color:black;
    color: #fff;
    text-align: center;
    position: relative;
}

footer .site-brand{
    margin-bottom: 1.5rem;
    display: block;
    font-size: 2rem!important;
}
.footer-item{
    margin: 3rem 0;
}
.footer-item a{
    font-size: 1.2rem;
    color: #fff;
}
.footer-item ul{
    padding: 0;
}
.footer-item h2{
    margin-bottom: 1.4rem;;
}
.social-links{
    display: flex;
            justify-content: center;
}
.social-links li{
    margin: 0.5rem;
}
.footer-item:nth-child(3) li{
    margin: 0.5rem 0;
}
.footer-item:nth-child(3) a{
    display: inline-block;
    font-size: 1rem;
    opacity: 0.7;
}
.subscribe-form form{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.subscribe-form form input{
    width: 100%;
    max-width: 300px;
}
.subscribe-form .form-control{
    border-color: rgba(255, 255, 255, 0.3);
    transition: var(--trans);
}

/* ### ABOUT PAGE ### */
/* about */
.about-right .text{
    margin-bottom: 1rem;
}
.about-right h2{
    margin-bottom: 2.5rem;
}

/* facts */
#facts{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(facts-img.jpg) center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(facts-img.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(facts-img.jpg) center/cover no-repeat;
    min-height: 80vh;
}
#facts .title-wrap{
    color: #fff;
}
#facts .sm-title{
    color: #fff;
}
.facts-item{
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.facts-icon{
    font-size: 3.2rem;
}
.facts-info strong{
    font-size: 2rem;
    display: block;
    margin: 1rem 0;
}
.facts-info .text{
    text-transform: uppercase;
}

/* ### CONTACT PAGE ### */
/* contact */
.contact-form .form-control{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    display: block;
    margin: 1.6rem auto;
}
.contact-form .btn{
    display: block;
    margin: auto;
}
.contact-icon{
    background-color: var(--green);
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 1rem auto;
    font-size: 2rem;
}
.contact-item{
    text-align: center;
    margin: 3rem 0;
}
.contact-item div span{
    font-weight: 600;
    font-family: "Ralway", sans-serif;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1rem;
}